<h1>Eat Da Burger</h1>

<h3>Save burger</h3>

<ul>
  {{#each tasks}}
  	<li>
  	   <p>Burger: {{this.id}}</p>
       <p>Devoured: {{this.task}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="task"></textarea>

	<button type="submit">Submit</button>
</form>