li {
    padding: 5px;
    margin: 5px;
    background: #1f1303e8;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: rgba(168, 31, 7, 0.658);
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  